body {
    margin: 0;
    padding: 0;
    background-image: url(https://images.unsplash.com/photo-1470526446583-d0fe2363d8cb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 18%;
}

h6 {
    position: fixed;
    top: 0;
    right: 0;
    margin: 20px;
}


#pos {
    margin-top: 10%;
    text-align: center;
    font-family: 'MICEGothic Bold';
}

#pos p:nth-of-type(1) {
    font-size: 20px;
}





.content {
	position: relative;
    /* 물결애니메이션 */
    display: flex;
	align-items: center;
	justify-content: center;
}

.content h2 {
	color: #fff;
	font-size: 5em;
    font-family: 'Bree Serif', serif;
	position: absolute;
	transform: translate(center);
    letter-spacing: 0.02em;
    margin-top: 10%;
}

.content h2:nth-child(1) {
	color: transparent;
    z-index: 1;
	-webkit-text-stroke: 0.1px #4b63eb;
}

.content h2:nth-child(2) {
	color: #71b4d3;
	animation: animate 3s ease-in-out infinite;
}

@keyframes animate {
	0%,
	100% {
		clip-path: polygon(
			0% 45%,
			16% 44%,
			33% 50%,
			54% 60%,
			70% 61%,
			84% 59%,
			100% 52%,
			100% 100%,
			0% 100%
		);
	}

	50% {
		clip-path: polygon(
			0% 60%,
			15% 65%,
			34% 66%,
			51% 62%,
			67% 50%,
			84% 45%,
			100% 46%,
			100% 100%,
			0% 100%
		);
	}
}






/*  */
@font-face {
    font-family: 'MICEGothic Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-01@1.0/MICEGothic Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");